@model OrderDetailModel
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    var order = Model.Order;
    var lstDetails = Model.Details;
    int stt = 0;
    decimal sum = 0m;
    string formatDate(DateTime? date)
    {
        if (date != null)
        {
            return string.Format(new System.Globalization.CultureInfo("en-GB"),
            "{0:dd/MM/yyyy HH:mm}",
            date);
        }
        return "";
    }

    var totalOrder = 0m;
}

<div id="purchaseDetail" class="container">
    <article class="card">
        <header class="card-header d-flex justify-content-between">
            <a href="Purchase" class="btn btn-outline-primary " data-abc="true"> <i class="fa fa-chevron-left"></i> Trở về</a>
            <span><b>Order ID: @order.OrderID</b></span>
        </header>
        <div class="card-body p-4">
            <h6>Chi tiết đơn hàng</h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Thời gian đặt hàng:</strong> <br>@formatDate(order.OrderTime)</div>
                    <div class="col"> <strong>Thời gian nhận đơn:</strong> <br>@formatDate(order.AcceptTime)</div>
                    <div class="col"> <strong>Nhân viên phụ trách:</strong> <br>@order.EmployeeName</div>
                    <div class="col"> <strong>Trạng thái:</strong> <br>@order.StatusDescription</div>
                </div>
                <div class="card-body row">
                    <div class="col"> <strong>Địa chỉ giao hàng:</strong> <br>@order.DeliveryAddress, @order.DeliveryProvince</div>
                    @if (string.IsNullOrWhiteSpace(order.ShipperName))
                    {
                        <div class="col"> <strong>Người giao hàng:</strong> <br></div>
                    }
                    else
                    {
                        <div class="col"> <strong>Người giao hàng:</strong> <br>@order.ShipperName  | <br /> <i class="fa fa-phone"></i> @order.ShipperPhone</div>
                    }
                    <div class="col"> <strong>Thời gian giao hàng:</strong> <br>@formatDate(order.ShippedTime)</div>
                    <div class="col"> <strong>Thời gian hoàn thành:</strong> <br>@formatDate(order.FinishedTime)</div>
                </div>
            </article>
            <div class="track">
                @if (order.Status > 0)
                {
                    <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Xác nhận đặt hàng</span> </div>
                    <div class="step @(order.Status >= 2 ? "active" : "")"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text">Đã duyệt</span> </div>
                    <div class="step @(order.Status >= 3 ? "active" : "")"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Đang vận chuyển </span> </div>
                    <div class="step @(order.Status >= 4 ? "active" : "")"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Hoàn thành</span> </div>
                }
                else
                {
                    <div class="step inactive"> <span class="icon"> <i class="fa fa-ban"></i> </span> <span class="text">@order.StatusDescription</span> </div>
                }
            </div>
            <hr>
            <h6>Danh sách mặt hàng</h6>
            <div class="cart-table-wrap">
                <table class="cart-table">
                    <thead class="cart-table-head">
                        <tr class="table-head-row">
                            <th class="product-remove"></th>
                            <th class="product-image">Ảnh</th>
                            <th class="product-image">Mặt hàng</th>
                            <th class="product-price">Đơn giá</th>
                            <th class="product">Số lượng</th>
                            <th class="product-total">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lstDetails)
                        {
                            sum += item.SalePrice;
                            <tr class="table-body-row">
                                <td>
                                    @(++stt)
                                </td>
                                <td>
                                    <img style="height: 50px; width: 50px; object-fit: cover;" src="@WebConfig.IMAGE_SOURCE_HOST/images/products/@(string.IsNullOrWhiteSpace(item.Photo) ? "noProductAvailable.png" : item.Photo)" alt="Product Thumbnail" class="tab-image overflow-hidden">
                                </td>
                                <td class="px-2" style="width: 350px;">
                                    <span class="float-start" style="text-align: left; line-height: 20px;">@item.ProductName</span>
                                </td>
                                <td class="px-2">
                                    @item.SalePrice.ToString("#,0", new System.Globalization.CultureInfo("vi-VI")) VND
                                </td>
                                <td>@item.Quantity</td>
                                <td class="px-2">@item.TotalPrice.ToString("#,0", new System.Globalization.CultureInfo("vi-VI")) VND</td>

                            </tr>
                        }

                    </tbody>
                </table>
                <span class="pt-3 d-flex justify-content-end">
                    Tổng:
                    <span class="text-primary fw-bold"> @sum.ToString("#,0", new System.Globalization.CultureInfo("vi-VI")) VND</span>
                </span>
            </div>

        </div>
    </article>
</div>